body {
  overflow: hidden;
  background-image: url("/assets/h.png");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 900px;
}

.root {
  max-width: 1440px;
}

#slide {
  width: max-content;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 600px;
  padding: 50px;
  background-color: #f5f5f5;
  box-shadow: 0 30px 50px #dbdbdb;
}
.item {
  width: 220px;
  height: 150px;
  background-position: 50% 50%;
  display: inline-block;
  transition: 0.5s;
  background-size: cover;
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
}

.item:nth-child(1),
.item:nth-child(2) {
  left: 0;
  top: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
}
.item:nth-child(3) {
  left: 94%;
  top: 37%;
  overflow: hidden;
  background-image: url("/assets/22.png");
  background-repeat: no-repeat;
}

.item:nth-child(4) {
  top: calc(37% + 180px);
  left: 94%;
  overflow: hidden;
  background-image: url("/assets/23.png");
  background-repeat: no-repeat;
}

.item .content {
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  padding: 0;
  color: #eee;
  display: none;
}
.item:nth-child(2) .content {
  display: block;
  z-index: 11111;
}
.item .name {
  font-size: 40px;
  font-weight: bold;
  opacity: 0;
  animation: showcontent 1s ease-in-out 1 forwards;
}
.item .des {
  margin: 20px 0;
  opacity: 0;
  font-size: 24px;
  animation: showcontent 1s ease-in-out 0.3s 1 forwards;
}

@keyframes showcontent {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
    filter: blur(0);
  }
}
.buttons {
  position: absolute;
  bottom: 55px;
  z-index: 222222;
  left: 46%;
  width: 100%;
  gap: 15px;
  display: flex;
}
.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #555;
  transition: 0.5s;
  cursor: pointer;
}
.buttons button:hover {
  background-color: #bac383;
}

.title h1 {
  color: #ffffff;
  font-size: 30px;
  margin: 10px 0;
}

.title h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin: 0;
}

.item .title {
  position: absolute;
  top: 20%;
  left: 35%;
  width: fit-content;
  text-align: left;
  padding: 0;
  color: #ffffff;
  display: none;
}

.item:nth-child(2) .title {
  display: block;
  z-index: 11111;
}

.item:nth-child(2) .title {
  display: block;
  z-index: 11111;
}

.left {
  position: absolute;
  top: 50%;
  left: 80px;
  width: 390px;
  text-align: left;
  padding: 0;
  color: #000000;
  transform: translate(0, -50%);
  display: none;
}

.item:nth-child(2) .left {
  display: block;
  z-index: 11111;
}

.person {
  display: flex;
  flex-direction: column;
}

.info-com {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
}

.person h1 {
  font-size: 24px;
}

.person h2 {
  font-size: 18px;
  margin: 5px 0;
  font-weight: 100;
}

.description {
  display: flex;
  flex-direction: column;
}

.description h1 {
  font-size: 24px;
  margin-top: 40px;
}

.description p {
  font-size: 18px;
  margin: 5px 0;
  font-weight: 100;
}

.social {
  display: flex;
  gap: 10px;
  margin-top: 120px;
}

.social i {
  cursor: pointer;
}

.right {
  position: absolute;
  left: 550px;
  width: 470px;
  background-image: url("/assets/aval.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 550px;
  height: 700px;
}

.right-content {
  position: absolute;
  top: 30%;
  left: 80px;
  width: 330px;
  text-align: left;
  padding: 0;
  transform: translate(0, -50%);
  color: #ffffff;
}

.skill h1 {
  font-size: 24px;
}

.skill p {
  font-size: 18px;
}

.skill h2 {
  font-size: 18px;
  margin: 5px 0;
  font-weight: 100;
}

.date {
  position: absolute;
  top: 30px;
  left: -50px;
  opacity: 0;
  transition: 1.5s;
  font-size: 18px;
}
.timeline-line {
  background: rgb(228, 228, 228);
  width: 4px;
  border-radius: 12px;
  position: relative;
  justify-self: end;
}

.timeline-point {
  border: none;
  position: absolute;

  border-radius: 50%;
  background: rgb(228, 228, 228);
  width: 8px;
  height: 8px;

  top: 30px;
  left: -6px;
  transition: 1.5s ease;
}
.timeline-innerline {
  position: absolute;
  background: blue;
  width: 4px;
  height: 0%;

  top: 0%;
  left: 0%;

  transition: 1s linear;
}

.item .timeline {
  margin-top: 35px;
  padding: 15px;
  display: grid;
  grid-template-columns: 40% auto;
  justify-content: center;
  position: absolute;
  display: none;
  top: 30%;
  left: 8%;
}

.item:nth-child(2) .timeline {
  display: block;
  z-index: 11111;
}

ul {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 40px;
}
li {
  margin-top: 30px;
  position: relative;
  padding: 25px;
}
li p {
  padding: 0 20px;
  transition: 1.5s;
}

.timeline-content {
  width: 160px;
  height: fit-content;
  transition: 1.5s;
  position: relative;
  border: solid 1px #000000;
  padding: 15px;
  border-radius: 12px;
  background-color: rgba(122, 26, 26, 0.05);
}

.timeline-content h1 {
  font-size: 20px;
  margin-top: 0px;
}

.timeline-content h2 {
  font-size: 18px;
  font-weight: 500;
}

.timeline-content a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item h3 {
  position: absolute;
  top: 10%;
  left: 38%;
  width: fit-content;
  text-align: left;
  padding: 0;
  color: #000000;
  font-size: 36px;
  display: none;
}

.item:nth-child(2) h3 {
  display: block;
  z-index: 11111;
}

.right-tar {
  position: absolute;
  width: 470px;
  background-image: url("/assets/avar.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 550px;
  height: 700px;
  display: none;
}

.item:nth-child(2) .right-tar {
  display: block;
  z-index: 11111;
}

.left-tar {
  position: absolute;
  top: 50%;
  left: 630px;
  width: 350px;
  text-align: left;
  padding: 0;
  color: #000000;
  transform: translate(0, -50%);
  display: none;
}

.item:nth-child(2) .left-tar {
  display: block;
  z-index: 11111;
}

.tech {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
}

.perpose h1 {
  font-size: 24px;
}

.perpose h2 {
  font-size: 18px;
  margin: 5px 0;
  font-weight: 100;
}

.right-content-tar {
  position: absolute;
  top: 50%;
  left: 80px;
  width: 330px;
  text-align: left;
  padding: 0;
  transform: translate(0, -50%);
  color: #ffffff;
  display: none;
}

.item:nth-child(2) .right-content-tar {
  display: block;
  z-index: 11111;
}

.skill-tar h1 {
  font-size: 24px;
}

.skill-tar h2 {
  font-size: 18px;
  margin: 5px 0;
  font-weight: 100;
}

.title-tar {
  position: absolute;
  top: 10%;
  left: 43%;
  text-align: left;
  padding: 0;
  display: flex;
  align-items: center;
  z-index: 12111;
  gap: 15px;
  display: none;
}

.item:nth-child(2) .title-tar {
  display: flex;
}

.title-tar h1 {
  color: #ffffff;
  font-size: 36px;
}

.title-tar h2 {
  color: #000000;
  font-size: 36px;
}

@media screen and (min-width: 870px) {
  .timeline {
    display: block;
  }
  ul {
    flex-direction: row;
  }
  li {
    margin-top: 0px;
    position: relative;
    width: 100%;
    padding: 0px;
  }
  li p {
    transform: translateY(-10px);
    opacity: 0;
    /* padding: 0 20px; */
    transition: 1.5s;
  }

  .date {
    opacity: 0;
    transition: 1.5s;
    font-size: 12px;

    position: absolute;
    top: -70px;
    left: 28%;
    font-size: 18px;
  }

  .timeline-point {
    width: 15px;
    height: 15px;

    top: -40px;
    left: 40%;
    transition: 1.5s ease;
  }

  .timeline-line {
    width: 100%;
    height: 4px;
  }

  .timeline-innerline {
    position: absolute;
    background: blue;
    width: 0%;
    height: 4px;

    top: 0%;
    left: 0%;

    transition: 1s linear;
    border-radius: 999px;
  }
}

@media screen and (min-width: 870px) and (max-width: 1439px) {
  .buttons {
    left: 45%;
    gap: 18px;
  }
  .item:nth-child(3) {
    display: none;
  }

  .item:nth-child(4) {
    display: none;
  }

  #slide {
    width: 750px;
  }

  .item .title {
    top: 10%;
    left: 28%;
  }

  .right {
    width: 425px;
    left: 425px;
  }

  .left {
    left: 50px;
    width: 320px;
  }

  .right-content {
    top: 26%;
    left: 50px;
    width: 320px;
  }

  .right-tar {
    width: 425px;
  }

  .left-tar {
    left: 475px;
    width: 320px;
  }

  .right-content-tar {
    top: 48%;
    left: 50px;
    width: 320px;
  }

  .title-tar {
    left: 41%;
  }

  .timeline-content {
    width: 160px;
    padding: 10px;
  }

  .item .timeline {
    left: 2%;
  }

  ul {
    gap: 20px;
  }

  .item h3 {
    left: 34%;
  }

  .date {
    left: 24%;
  }
}

@media screen and (min-width: 470px) and (max-width: 869px) {
  body {
    overflow: unset;
    background-image: url("/assets/h1.png");
    padding-bottom: 50px;
  }

  .buttons {
    position: fixed;
    left: 15px;
    right: 15px;
    bottom: 400px;
    justify-content: space-between;
    width: unset;
  }

  .buttons button {
    width: 40px;
    height: 40px;
  }

  #slide {
    padding: 20px;
    width: 420px;
  }

  .item:nth-child(3) {
    display: none;
  }

  .item:nth-child(4) {
    display: none;
  }

  .title h1 {
    color: #ffffff;
    font-size: 18px;
    margin: 10px 0;
  }

  .title h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin: 0;
  }

  .item .title {
    position: absolute;
    top: 20%;
    left: 30%;
    width: fit-content;
    text-align: left;
    padding: 0;
    color: #ffffff;
    display: none;
  }
  .item .name {
    font-size: 32px;
  }
  .item .des {
    margin: 20px 23px;
    font-size: 18px;
  }

  .item .content {
    left: 30%;
  }

  .left {
    top: 50%;
    left: 50px;
    width: 350px;
  }

  .social {
    margin-top: 80px;
  }

  .right {
    top: 100%;
    left: 0px;
    width: 460px;
    height: 640px;
    display: none;
  }

  .right-content {
    left: 50px;
  }

  .item:nth-child(2) .right {
    display: block;
    z-index: 11111;
  }

  .left-tar {
    left: 50px;
  }

  .right-tar {
    display: none;
    width: 460px;
    top: 100%;
    height: 640px;
  }

  .title-tar h1 {
    color: #000000;
  }

  .title-tar {
    gap: 10px;
    left: 40%;
  }

  .right-content-tar {
    left: 50px;
  }

  .timeline-content {
    width: 240px;
    padding: 10px;
    left: 70px;
  }

  ul {
    gap: 20px;
  }

  li {
    margin-top: 0;
    padding: 0;
  }

  .timeline-point {
    left: 50px;
    top: 35px;
  }

  .item .timeline {
    top: 18%;
    margin-top: 0;
    left: 13%;
  }

  .item h3 {
    top: 8%;
    left: 25%;
    font-size: 28px;
  }

  .date {
    top: 30px;
    font-size: 16px;
    left: -35px;
  }

  .timeline-content h1 {
    font-size: 16px;
    margin-bottom: 0;
  }

  .timeline-content h2 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  br {
    display: none;
  }

  .title-tar h1 {
    font-size: 28px;
  }

  .title-tar h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 469px) {
  body {
    overflow: unset;
    background-image: url("/assets/h1.png");
    padding-bottom: 50px;
  }

  .buttons {
    position: fixed;
    left: 15px;
    right: 15px;
    bottom: 400px;
    justify-content: space-between;
    width: unset;
  }

  .buttons button {
    width: 40px;
    height: 40px;
  }

  #slide {
    padding: 20px;
    width: 420px;
  }

  .item:nth-child(3) {
    display: none;
  }

  .item:nth-child(4) {
    display: none;
  }

  .title h1 {
    color: #ffffff;
    font-size: 18px;
    margin: 10px 0;
  }

  .title h2 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    margin: 0;
  }

  .item .title {
    position: absolute;
    top: 20%;
    left: 30%;
    width: fit-content;
    text-align: left;
    padding: 0;
    color: #ffffff;
    display: none;
  }
  .item .name {
    font-size: 32px;
  }
  .item .des {
    margin: 20px 23px;
    font-size: 18px;
  }

  .item .content {
    left: 30%;
  }

  .left {
    top: 50%;
    left: 50px;
    width: 350px;
  }

  .social {
    margin-top: 80px;
  }

  .right {
    top: 100%;
    left: 0px;
    width: 460px;
    height: 640px;
    display: none;
  }

  .right-content {
    left: 50px;
  }

  .item:nth-child(2) .right {
    display: block;
    z-index: 11111;
  }

  .left-tar {
    left: 50px;
  }

  .right-tar {
    display: none;
    width: 460px;
    top: 100%;
    height: 640px;
  }

  .title-tar h1 {
    color: #000000;
  }

  .title-tar {
    gap: 10px;
    left: 40%;
  }

  .right-content-tar {
    left: 50px;
  }

  .timeline-content {
    width: 240px;
    padding: 10px;
    left: 70px;
  }

  ul {
    gap: 20px;
  }

  li {
    margin-top: 0;
    padding: 0;
  }

  .timeline-point {
    left: 50px;
    top: 35px;
  }

  .item .timeline {
    top: 18%;
    margin-top: 0;
    left: 13%;
  }

  .item h3 {
    top: 8%;
    left: 25%;
    font-size: 28px;
  }

  .date {
    top: 30px;
    font-size: 16px;
    left: -35px;
  }

  .timeline-content h1 {
    font-size: 16px;
    margin-bottom: 0;
  }

  .timeline-content h2 {
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  br {
    display: none;
  }

  .title-tar h1 {
    font-size: 28px;
  }

  .title-tar h2 {
    font-size: 28px;
  }
}
